# Lab 11 (due Dec. 12)

**Last, First**

**NetID**

Double click this text cell to edit it. Replace the lines above with your own name and netID.   

Press `Shift` + `Enter` to exit editing mode.

# Your Toolkit 
The cell below loads various libraries and tools that you will need in this lab. You need to run it once before you run the code of your problems.

In [ ]:
#################################
# import packages 
#################################

# plotting tools 
import numpy as np
import matplotlib.pyplot as plt
# reading data from url
import urllib.request
# natural language processing toolking   
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
nltk.download('punkt')
from nltk.tokenize import sent_tokenize, word_tokenize
# tools for working with CSV files 
import csv


#################################
# download data  
#################################

# 2012 SAT scores, by school
!wget https://data.cityofnewyork.us/api/views/f9bf-2cp4/rows.csv
!mv rows.csv SAT_2012.csv

## Problem 1: Leatherback Sea Turtles Population (30 points) 


Leatherback Sea Turtle population is declining due to many reasons. The paper published in 2013 [Long‚Äêterm decline of the western Pacific leatherback, Dermochelys coriacea: a globally important sea turtle population](https://esajournals.onlinelibrary.wiley.com/doi/full/10.1890/ES12-00348.1#i2150-8925-4-2-art25-Hitipeuw1) contains information about the estimated counts of nests and female leatherbacks in Jamursba Medi.
Your job for this problem is to use this data to calculate a few things:
- The female turtles lay eggs in multiple nests. What is the approximate number of nests in which a single female lays eggs? How did you estimate this? 
- What is the percentage by which the number of nests differs in each year from the previous year (assume that the previous year is 100%, calculate the percentage increase/decrease for the next year)? Write a program that shows the table.
What is the average percentage change? Is it a decrease or increase on average? Explain how you calculated it. 
- Plot the number of nests and number of females as a function of years (years on the horizontal axis). Both should be included in a single plot. 


For each of the questions, provide the program that answers it, but also use a text cell (or comments in the program) to actually answer the question. 



Use the CODE cell below to continue with your program.

In [4]:
number_of_nests = [14522, 3261, 4448, 4517, 4633, 6929, 4879, 3429,2383,3321,2143,3790,3597,2626,2674,2107,2077,2055,1720,1596]
number_of_females = [2640,593,809,821,842,1260,887,623,433,604,390,689,654,477,486,383,378,374,313,290]
years = list(range(1984,2002))


## Problem 2: Fobonacci Numbers and the Golden Ratio (35 points) 


You just heard two different talks on the topic of Fibonacci numbers and the golden ratio. 

Write a program that creates a list of the first 50 Fibonacci numbers.

Once the numbers are calculated the program should calculate the ratio of the two consecutive numbers for each pair of Fibonacci numbers:

$$\dfrac{\text{Fibonacci number at position i}}{\text{Fibonacci number at position i-1}}$$

--

The golden ratio can be calculated using the following formula:

$$\dfrac{1 + \sqrt{5}}{2} $$

Compare the value of the golden ratio to the values obtained by calculating the ratios of consecutive Fibonacci numbers. 



Use the CODE cell below to write your program. And your answers in a TEXT cell or in the comments in the program.

In [9]:
import math

numbers = [1,1]

for i in range (2,50) :
    num = numbers[i-2] + numbers[i-1]
    numbers.append(num)

print (numbers)

for i in range(1,50):
    print(numbers[i]/numbers[i-1])
    
print ((1 + 5 ** 0.5) / 2)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711, 28657, 46368, 75025, 121393, 196418, 317811, 514229, 832040, 1346269, 2178309, 3524578, 5702887, 9227465, 14930352, 24157817, 39088169, 63245986, 102334155, 165580141, 267914296, 433494437, 701408733, 1134903170, 1836311903, 2971215073, 4807526976, 7778742049, 12586269025]
1.0
2.0
1.5
1.6666666666666667
1.6
1.625
1.6153846153846154
1.619047619047619
1.6176470588235294
1.6181818181818182
1.6179775280898876
1.6180555555555556
1.6180257510729614
1.6180371352785146
1.618032786885246
1.618034447821682
1.6180338134001253
1.618034055727554
1.6180339631667064
1.6180339985218033
1.618033985017358
1.6180339901755971
1.618033988205325
1.618033988957902
1.6180339886704431
1.6180339887802426
1.618033988738303
1.6180339887543225
1.6180339887482036
1.6180339887505408
1.6180339887496482
1.618033988749989
1.618033988749859
1.6180339887499087
1.6180339887498896
1.618033988749897
1.618033988749894
1.6180339887498951
1.6180339887498947
1.618033988749895
1.618033988749895
1.618033988749895
1.618033988749895
1.618033988749895
1.618033988749895
1.618033988749895
1.618033988749895
1.618033988749895
1.618033988749895
1.618033988749895

## Problem 3: Subway Fares in NYC (35 points) 


The Wikipedia has an article that shows the history of the transit fares in NYC. The part of the article that talks about subway fares is titled [Subway and local buses](https://en.wikipedia.org/wiki/New_York_City_transit_fares#Subway_and_local_buses). You will need the data provided in that section to complete this problem. 

You will also need the [Inflation Calculator](https://www.bls.gov/data/inflation_calculator.htm) that we used at the beginning of the semester. 

Complete the following tasks in the CODE cells and TEXT cells below this problem description.

- Plot the history of subway fares from 1905 to 2018. Make sure that your plot includes ALL the years, not just the years of the fare increase. For example, the fare was 5 cents from 1905 to 1948, this means that your plot should have a flat line for these years and then the increase in 1948 to 10 cents. 

- Use the inflation calculator to figure out what the price of a subway fare should be, if the only increases followed the inflation rate. (The calculator starts at 1913, not 1905, so use that year as a starting point.) 

- For each of the fare increases, calculate the percentage increase over the previous fare price. Show a table containing the year of the increase and the percentage increase that was applied. (Read through your results to verify that they do make sense.) 

Note: for all the fare prices use the _base fare_.